* {
  margin: 0;
}

html, body {
  height: 100%;
  /* min-width: 447px; */
  color: #1b1b1b;
  background: #f9f9f9;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

nav {
  border-top: 3px solid #ffe000;
  z-index: 1;
}

.navbar {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.navbar-dark {
  background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0));
}

.navbar-dark .navbar-brand {
  color: #ffe000;
  font-size: 1.75rem;
}
.navbar-dark .navbar-brand:hover {
  color: rgba(0,0,0,.5);
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
  margin-top: 2px;
  font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffe000;
}

.navbar-nav li:not(:last-child) {
  padding-right: 35px;
}

.nav_underline::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: #dec300;
  transition: width 0.5s;
}

.nav_underline:hover::after {
  width: 100%;
}

.navbar > div {
  position: relative;
}

.navbar-nav {
  margin-top: 1.3rem;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.logo:hover {
  top: 1px;
  left: 1px;
}

nav button {
  margin: 1.3rem;
}

.landing_bg {
  height: 100%;
  background: linear-gradient(
  rgba(0,0,0,0.75), 
  rgba(0,0,0,0.5));
}

.landing {
  height: 100%;
  background: url(images/lemons.jpg);
  transition: background 1s linear;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.landingClick {
	background: url(images/lemonade.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.content {
  margin-top: -110px;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header {
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 4rem;
  font-weight: 700;
  text-shadow: 1px 1px 8px #3a3a3a;
  letter-spacing: 0.2rem;
}

.header p {
  display: inline-block;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

#lemons {
  cursor: pointer;
  color: #ffe100;
}

.floating {
  animation-name: floating;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  50%  { transform: translate(0, 3px); }
  to   { transform: translate(0, 0px); }    
}

#make {
  visibility: hidden;
  opacity: 0;
}

.fa-angle-down {
  color: #ffe000;
  font-size: 1.75rem;
  position: absolute;
  bottom: 2%;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.about_bg {
  background-image: 
  url(images/pattern.png), 
  linear-gradient(rgb(255,224,0), rgb(255,224,0));
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative; 
  top: 0;
  left: 0;  
}

.about_bg:after {
  content: "";
  position: absolute;
  left: -5%;
  width: 105%;
  bottom: 1px;
  z-index: 1;
  box-shadow: 0px -3px 15px 1px #000;
}

#photo {
	width: 100%;
}

.about {
  position: relative;
  /* min-width: 510px; */
  min-height: 308px;
  padding-bottom: 25px;
}

.about p:nth-of-type(2) {
  color: #545454;
}

.about_box {
  background: rgba(255,225,0,1);
  width: 104%;
  height: 100%;
  position: absolute;
  right: -2%;
  border: 2px solid #dec300;
  border-radius: 1%;
}

.about_box:before {
  content:"";
  position:absolute;
  border-style:solid;
  top:-13px; /* value = - border-top-width - border-bottom-width */
  bottom:auto;
  left:auto;
  right:5%; /* controls horizontal position */
  border-width:0 11px 11px;
  border-color:#dec300 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.about_box:after {
  content:"";
  position:absolute;
  border-style:solid;
  top:-10px; /* value = - border-top-width - border-bottom-width */
  bottom:auto;
  left:auto;
  right:5.2%; /* value = (:before right) + (:before border-right) - (:after border-right) */
  border-width:0 10px 10px;
  border-color:#ffe000 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

#about_top {
  margin-top: 1.3rem;
}

.title_underline {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #dec300;
}

#hey {
  font-weight: 700;
  font-size: 1.35rem;
}

#dev {
  font-weight: 400;
}

.skills {
  width: 100%;
  height: 100%;
  color: #545454;
}

.skills div {
  display: inline-block;
  float: left;
  width: 25%;
  height: 70%;
}

.skills div:not(:last-child) {
  border-right: 1px dashed #dec300;
}

.skills p {
  text-align: center;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.skills ul {
  padding-left: 0;
}

.skills li {
  text-align: center;
  list-style: none;
}

.about_bg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-lg-12 {
	padding-left: 0;
	padding-right: 0;
}

.portfolio {
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}

.portfolio_head p {
  color: #545454;
  padding-bottom: 25px;
  margin-bottom: 25px;
	font-size: 1.75rem;
	border-bottom: 1px solid #e0e0e0;
}

.portfolio_item:not(:last-child) {
	border-bottom: 1px solid #e0e0e0;
	padding-bottom: 50px;
	margin-bottom: 65px;
}

.portfolio_img {
	max-height: 350px;
	padding-top: 100%;
	width: 100%;
	border: 3px solid rgba(0,0,0,0.1);
  border-radius: 5%;
  background: #e3e3e3;
	float: left;
  background-size: cover;
	background-position: center;
	margin-bottom: 2rem;
}

.portfolio_desc {
  text-align: left;
}

.portfolio_desc h2 {
  font-size: 1.5rem;
	font-weight: 700;
}

.portfolio_desc p {
  color: rgba(27,27,27,0.75);
  font-weight: 400;
	margin-top: 15px;
}

#short_desc {
	color: #545454;
	font-weight: 700;
	font-size: 1.1rem;
	border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
}

.one {
  background: url(images/screenshot.png);
}

.two {
  background: url(images/screenshot1.png);
}

.three {
  background: url(images/screenshot3.png);
}

.contact {
  padding-top: 100px;
  padding-bottom: 50px;
}

.contact_bg {
  background: #ffe000;
  position: relative; 
  top: 0;
  left: 0;  
}

.contact_bg:after {
  content: "";
  position: absolute;
  left: -5%;
  width: 105%;
  top: 1px;
  z-index: 1;
  box-shadow: 0px 3px 15px 1px #000;
}

.form-control {
  font-size: 1.3rem;
  font-weight: 300;
  padding-bottom: 15px;
  margin-top: 5px;
  margin-bottom: 25px;
  border: 1px solid #ffe000;
}

.form-control:focus {
  border-color: rgb(222,195,0);
  box-shadow: 0 0 0 0.2rem rgb(222,195,0);
}

.btn {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2rem;
  height: 60px;
  width: 175px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #545454;
  border-radius: 50px;
  color: #545454;
  background-color: #ffe000;
  margin-top: 5px;
  margin-bottom: 50px;
}

.btn:hover {
  color: #ffe000;
  background: #545454;
  border-color: #545454;
}

.social {
  text-align: center;
}

.social p:not(:first-child) {
  font-size: 1.3rem;
}

.social a {
  color: #1b1b1b;
}

.social i {
  font-size: 2rem;
  transform: translateY(20%);
  margin-left: 5px;
}

.social a:hover {
  color: #545454;
}

.social a:hover + i {
  font-size: 2.1rem;
  color: #545454;
}

.credit {
  text-align: center;
  font-size: 0.75rem;
}

.credit, .credit a {
	color: rgba(0,0,0,0.75);
}

.credit span {
	font-weight: 700;
}

@media (min-width: 992px) {
	#photo {
		width: initial;
	}
  .about_bg img {
    position: absolute;
    bottom: 0;
  }
  
  .about_box {
    width: 62%;
  }
  
  .about_box:before {
    content:"";
    position:absolute;
    border-style:solid;
    top:90%; /* controls vertical position */
    bottom:auto;
    left:-20px; /* value = - border-left-width - border-right-width */
    border-width:13px 20px 13px 0;
    border-color:transparent #dec300;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }

  .about_box:after {
  /* creates the smaller  triangle */
    content:"";
    position:absolute;
    border-style:solid;
    top:90.5%; /* value = (:before top) + (:before border-top) - (:after border-top) */
    bottom:auto;
    left:-16px; /* value = - border-left-width - border-right-width */
    border-width:10px 16px 10px 0;
    border-color:transparent #ffe000;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
  }
	
	.portfolio_img {
		margin-bottom: 0;
	}
  
  .social {
    text-align: right;
  }
}